.slide-arrow {
  color: black;
  cursor: pointer;
}
.overlayPara {
  position: absolute;
  color: black;
  background: white;
  text-align: left;
  padding: 0.4% 0px 0.4% 0.4%;
  width: 14%;
  opacity: 0.9;
  font-family: Jost Book;
  font-size: 21px;
  white-space: nowrap;
  text-align: center;
}
.overlayPara-mu {
  position: absolute;
  color: black;
  background: white;
  text-align: left;
  padding: 0.4% 0px 0.4% 0.4%;
  width: 14%;
  opacity: 0.9;
  font-family: Jost Book;
  font-size: 21px;
  white-space: nowrap;
  text-align: center;
}

.overlayPara-button {
  position: absolute;
  color: white;
  background: #e10000;
  text-align: left;
  padding: 1rem;
  width: 17%;
  font-family: Jost Book;
  font-size: 18px;
  white-space: nowrap;
  text-align: center;
  border: none;
  outline-style: none;
}

.slide-arrow-right {
  right: 1rem;
}

.slide-arrow-left {
  left: 1rem;
}
.headeroverlay {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 3%;
}
.headerImage {
  margin-top: 1.5%;
  width: 100%;
}
.headerresImage {
  display: none;
}
.headeripadImage{
  display: none;
}

.highlight {
  color: #e10000;
}
.main {
  top: 51%;
  left: 43%;
}
.main-down {
  top: 60%;
  left: 43%;
}
.main-button {
  top: 80%;
  left: 42%;
}
.left {
  top: 42%;
  left: 18%;
  height: 1.5rem;
  padding: 0.4% 0% 0.4% 0.4%;
  width: 16%;
}
.left-down {
  top: 48%;
  left: 19%;
  padding: 0.4% 0.4% 0.4% 0.4%;
}
.right {
  top: 20%;
  right: 18%;
}
.right-down {
  top: 70%;
  right: 17.2%;
  width: 16%;
}

.nav-image:hover {
  cursor: pointer;
  border: 1px solid#E10000;
}
.mu-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  text-align: center;
  color: white;
}
.mu-article {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.mu-section img {
  width: 99%;
}
.mu-article img {
  width: 100%;
}
.latestCollections {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.latestCollections p {
  width: 86%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 1% 7% 2%;
  font-family: BankGothicRegular;
}
.latestCollections span {
  background: #fff;
  padding: 10px 85px;
  margin-right: 4rem;
  margin-left: 4rem;
}
@media only screen and (max-width: 769px) {
  .image-slide {
    height: 100%;
    width: 100%;
    transition: background-image .3s ease-in-out;
  }
  .latestCollections span {
    margin-right: 1rem;
    margin-left: 1rem;
    padding: 10px 20px;
  }
  .headerImage {
    display: none;
  }
  .headerresImage {
    width: 100%;
    display: none;
  }
  .headeripadImage{
    display:block;
    width:100%;
  }
  .main{
    top: 35%;
    left: 37%;
  }
  .overlayPara {
    width: 26%;
   }
   .main-down {
    top: 43%;
    left: 37%;
   }
  .mu-section {
    display: block;
    position: relative;
    text-align: center;
    color: white;
  }
  .main-button {
    top: 72%;
    left: 36%;
}
.left {
    top: 13%;
    left: 35%;
    padding: 0.4% 0.4% 1.4% 0.4%;
}
  .overlayPara-button{
    width: 29%;
  }
  .overlaysecPara {
    position: absolute;
    top: 20%;
    left: 50%;
    color: black;
    background: white;
    padding: 1rem;
    opacity: 0.7;
    font-family: Jost Regular;
    font-size: 22px;
  }
  .overlaysecdowPara {
    position: absolute;
    top: 25%;
    left: 50%;
    color: black;
    background: white;
    padding: 1rem;
    opacity: 0.7;
    font-family: Jost Regular;
    font-size: 22px;
  }
 
  .left-down {
    top: 16%;
    left: 35%;
  }
  .right {
    top: 60%;
    right: 38%;
  }
  .right-down {
    top: 85%;
    right: 35%;
  }
  .mu-article {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
  .main {
    top: 35%;
    left: 25%;
  }
  .main-down {
    top: 43%!important;
}
.last{
  width:55%!important;
}
.main-button {
  top: 70%;
  left: 22%;
}
.overlayPara-button {
  width: 61%;
  padding:.5rem;
  font-size:15px;
}
  .headeripadImage{
    display:none;
  }
  .headerresImage{
    display: block;
    width: 100%;
  }
  .overlayPara{
    width:49%
  }
  .overlayPara-mu {
    display:none;
}
 .overlayPara-res{ 
  position: absolute;
  color: black;
  background: white;
  text-align: left;
  padding: 0.4% 0px 0.4% 0.4%;
  opacity: 0.9;
  font-family: Jost Book;
  font-size: 21px;
  white-space: nowrap;
  text-align: center;
  width: 40%;
}
  .main-down {
    top: 47%;
    left: 25%;
  }
  .left {
    top: 19%;
    left: 28%;
  }
  .left-down {
    top: 23%;
    left: 25%;
  }
  .right {
    top: 60%;
    right: 25%;
  }
  .right-down {
    top: 84%;
    right: 19%;
  }
  .latestCollections p {
    width: 80%!important;
    margin: 1% 12% 2%!important;

}
.latmobCollection {
  overflow-x:hidden!important ;
  display: grid;
  grid-template-columns: repeat(2,[col-1] 65% [col-2] 65% );
}
.couponPara{
  display: none;
}
.couponPara-res{
  display: block;
  position: absolute;
  color: rgb(255, 254, 254);
  padding: 1rem;
  font-family: Jost Regular;
  font-size: 35px;
}


}

